body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main {
    min-height: 90vh;
    padding: 30px 10px
}

.footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}

.no-link {
    color: black;
}

.right {
    float: right;
}

.sidebar {
    z-index: 100;
    position: fixed;
    top: 0;
    left: auto;
    width: 300px;
    background: white;
    height: 100vh;
    transition: 0.3s;
}

.show-sidebar{
    right: 0;
    border: #e2e2e2 2px solid;
    box-shadow: 2px 2px 10px  grey;
}
.hide-sidebar{
    right: -300px
}